<h3 id="contact" appScrollAnimate class="scroll-animate from-top mx-5 mt-16 font-medium tracking-[-0.03em] relative sm:mx-10 sm:mt-20 sm:text-xl md:text-2xl md:mx-10 lg:text-[1.75rem] lg:text-center lg:mt-24 xl:text-[2rem] xl:mt-20 xlwin:text-3xl xlwin:mt-16 2xl:text-4xl">
  <span class="inline-flex flex-col items-start">
    Contato
    <span class="border-b-2 w-5 border-portfolio-text sm:w-7 md:w-8 lg:w-10 xl:w-11 2xl:w-12"></span>
  </span>
</h3>

<section class="mx-5 my-20 max-[330px]:mt-24 max-[330px]:mb-28 sm:mx-10 sm:my-28 md:mx-10 md:mt-12 md:mb-16 lg:mx-[3.75rem] lg:mt-11 lg:mb-[4.75rem] xl:mx-20 2xl:mx-[6.25rem]">
  
  <div appScrollAnimate class="scroll-animate from-top-sm" style="transition-delay: 0.2s">
    <a href="mailto:danilo.aguiar6757@gmail.com?subject=Assunto&body=Olá!" class="cursor-pointer inline-block hover:text-portfolio-accent transition-colors">
      <h2 class="text-4xl uppercase tracking-[-0.05rem] mb-[-0.5rem] max-[330px]:text-[2.75rem] sm:text-6xl sm:-mt-5 md:text-[4rem] lg:text-[5rem] xl:text-[6.5rem] xl:-mb-6 xlwin:text-[5.5rem]">Enviar Email</h2>
    </a>
  </div>

  <div appScrollAnimate class="scroll-animate from-bottom" style="transition-delay: 0.2s">
    <p class="mt-8 tracking-[-0.05rem] mb-[-0.5rem] max-[330px]:mt-8 sm:text-xl md:text-2xl md:mt-8 lg:text-[1.75rem] lg:mt-12 xl:text-[2rem] xl:ml-1 xlwin:text-[1.75rem] xlwin:ml-0.5">ou entre em contato no:</p>

    <a href="https://www.linkedin.com/in/daniloaguiardev/" target="_blank" rel="noopener noreferrer" class="hover:text-portfolio-accent transition-colors block w-max">
      <h2 class="mt-4 text-3xl uppercase tracking-[-0.05rem] mb-[-0.5rem] max-[330px]:text-[2.5rem] max-[330px]:mt-6 sm:text-[3.25rem] sm:mt-6 md:text-[3.5rem] md:mt-4 lg:text-7xl lg:mt-5 xl:text-8xl xlwin:text-[5rem]">Linkedin</h2>
    </a>
    
    <a href="http://github.com/daniloaguiardev/" target="_blank" rel="noopener noreferrer" class="hover:text-portfolio-accent transition-colors block w-max">
      <h2 class="mt-4 text-3xl uppercase tracking-[-0.05rem] mb-[-0.5rem] max-[330px]:text-[2.5rem] max-[330px]:mt-6 sm:text-[3.25rem] sm:mt-6 md:text-[3.5rem] md:mt-4 lg:text-7xl lg:mt-5 xl:text-8xl xlwin:text-[5rem]">Github</h2>
    </a>
    
    <a href="https://www.instagram.com/cutekitten0001/" target="_blank" rel="noopener noreferrer" class="hover:text-portfolio-accent transition-colors block w-max">
      <h2 class="mt-4 text-3xl uppercase tracking-[-0.05rem] mb-[-0.5rem] max-[330px]:text-[2.5rem] max-[330px]:mt-6 sm:text-[3.25rem] sm:mt-6 md:text-[3.5rem] md:mt-4 lg:text-7xl lg:mt-5 xl:text-8xl xlwin:text-[5rem]">Instagram</h2>
    </a>
  </div>
</section>