<section class="md:mx-10 md:flex md:flex-row md:justify-between lg:mx-[3.75rem] xl:mx-20 2xl:mx-[6.25rem]">
  <div class="mt-16 flex items-center justify-center md:mt-40 lg:mt-[11.7rem] xl:mt-[13.375rem] xlwin:mt-[7.75rem] 2xl:mt-[11.25rem]">
    <h1 class="text-4xl font-medium tracking-[-0.06rem] max-[330px]:text-5xl sm:text-6xl">
      <span class="block md:hidden lg:hidden xl:hidden 2xl:hidden">
        Desenvolvedor<br />
        Backend &<br />
        <span class="text-portfolio-accent">Coffee Lover</span>
      </span>

      <span class="hidden md:block md:text-[3.5rem] md:-ml-0.5 md:-mt-1.5 lg:text-7xl lg:-ml-1 xl:text-8xl xlwin:text-[5.5rem] 2xl:text-9xl 2xl:leading-none 2xl:tracking-[-0.03em]">
        Desenvolvedor Backend <br />
        <span class="md:block md:ml-52 md:mt-8 lg:ml-[17rem] xl:ml-[23rem] xl:mt-10 xlwin:ml-[21rem] xlwin:mt-3 2xl:ml-[29rem] 2xl:mt-7">& <span class="text-portfolio-accent">Coffee Lover</span></span>
      </span>
    </h1>
  </div>
</section>

<section class="md:mx-10 md:flex md:justify-between md:mb-10 lg:mx-[3.75rem] xl:mx-20 2xl:mx-[6.25rem]">
  <div class="mt-12 flex justify-center items-center md:mt-40 lg:mt-[11.7rem] xl:mt-[13.375rem] xlwin:mt-[7.75rem] 2xl:mt-[11.25rem]">
    <p class="text-lg font-normal tracking-[-0.0375rem] leading-[1.1] sm:text-2xl sm:leading-[1.65rem] sm:tracking-[-0.045rem] lg:text-2xl lg:leading-[1.65rem] lg:tracking-[-0.045rem] xl:text-3xl xl:leading-[1.1] xl:tracking-[-0.03em] xlwin:text-2xl xlwin:leading-[1.65rem] 2xl:text-[2rem]">
      Seja visto.<br />Seja eficiente.<br />Eu <span class="text-portfolio-accent">cuido</span> de ambos.
    </p>
  </div>

  <section class="mt-12 flex justify-center items-center mb-3 sm:mt-20 md:mt-40 lg:mt-[11.7rem] xl:mt-[13.375rem] xlwin:mt-[7.75rem] 2xl:mt-[11.25rem]">
    <div class="animate-bounce-slow transform -translate-x-1/2">
      <img src="assets/icons/Icon-Arrow-Down-1.svg" alt="Ícone de seta para baixo" class="animate-pulse h-12 w-10 sm:h-14 sm:w-11 md:h-16 md:w-12 md:-mt-2.5 lg:h-20 lg:w-[3.625rem] xl:h-24 xl:w-[4.25rem] xlwin:h-[5.5rem] xlwin:w-[3.875rem] xlwin:-mt-5 2xl:h-28 2xl:w-[4.875rem]" />
    </div>
  </section>
</section>