<h3 id="projects" appScrollAnimate class="scroll-animate from-top mx-5 mt-16 font-medium tracking-[-0.03em] relative sm:mx-10 sm:mt-20 sm:text-xl md:text-2xl md:mx-10 lg:text-[1.75rem] lg:text-center lg:mt-24 xl:text-[2rem] xl:mt-20 xlwin:text-3xl xlwin:mt-16 2xl:text-4xl">
  <span class="inline-flex flex-col items-start">
    Projetos
    <span class="border-b-2 w-5 border-portfolio-text sm:w-7 md:w-8 lg:w-10 xl:w-11 2xl:w-12"></span>
  </span>
</h3>

<section class="mt-8 sm:mt-12 md:mt-14 lg:mt-[4.5rem] xl:mt-20 xlwin:mt-16">
  
  @for (project of portfolioProjects; track project.title) {
    <div class="project-card mx-5 mb-8 relative overflow-hidden sm:mx-10 sm:mt-12 sm:mb-10 md:mx-10 md:mb-14 lg:mx-[3.75rem] lg:mt-[4.5rem] xl:mx-20 xl:mt-20 xlwin:mt-16 2xl:mx-[6.25rem]">
      
      <div class="overlay overlay-accent"></div>
      <div class="overlay overlay-white"></div>
      <div class="overlay overlay-black"></div>

      <div class="relative z-40">
        <a [href]="project.link" target="_blank" rel="noopener noreferrer" class="cursor-pointer md:flex">
          
          <div appScrollAnimate class="md:w-1/2 md:mr-8 lg:mr-12 2xl:mr-16 scroll-animate from-top-sm" style="transition-delay: 0.2s">
            <app-carousel [images]="project.images" />
          </div>

          <div class="md:w-1/2 md:flex md:flex-col md:justify-between">
            <div appScrollAnimate class="mt-6 flex flex-col gap-3 md:mt-0 md:flex-row md:items-center md:justify-between lg:flex-col lg:items-start lg:gap-5 xl:gap-9 2xl:gap-16 scroll-animate from-bottom" style="transition-delay: 0.4s">
              <h2 class="font-medium text-xl tracking-[-0.03rem] md:text-3xl md:-mt-2 lg:text-[2rem] lg:-mt-1 xl:text-[2.5rem] 2xl:text-[2.8rem]">{{ project.title }}</h2>
              
              <div class="flex flex-wrap items-center gap-3 lg:-ml-0.5 xl:-ml-0.5">
                @for (tag of project.tags; track tag.name) {
                  <span class="inline-flex items-center justify-center w-12 h-12 border border-white/30 rounded-full">
                    <img [src]="tag.icon" [alt]="tag.name" class="w-7 h-7">
                  </span>
                }
              </div>
            </div>

            <div appScrollAnimate class="scroll-animate from-bottom" style="transition-delay: 0.5s">
              <p class="mt-3 tracking-[-0.03rem] opacity-65 uppercase md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl">{{ project.type }}</p>
            </div>

            <div appScrollAnimate class="scroll-animate from-bottom" style="transition-delay: 0.6s">
              <p class="mt-6 text-sm tracking-[0.01rem] leading-[1.2rem] sm:text-base md:text-base md:leading-[1.1rem] lg:text-lg lg:leading-[1.4rem] xl:text-xl xl:leading-[1.6rem] 2xl:text-2xl 2xl:leading-[1.8rem]">
                {{ project.description }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  }
</section>